

<%= form_with(model: beach) do |form| %>
  <% if beach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beach.errors.count, "error") %> prohibited this beach from being saved:</h2>

      <ul>
        <% beach.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %> </br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %> </br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %></br>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :tide_dependency %></br>
    <%= form.text_field :tide_dependency %>
  </div>

  <div class="field">
    <%= form.label :water_quality %></br>
    <%= form.text_field :water_quality %>
  </div>

  <div class="field">
    <%= form.label :water_quality_date %></br>
    <%= form.text_field :water_quality_date %>
  </div>

  <div class="field">
    <%= form.label :warnings %></br>
    <%= form.text_field :warnings %>
  </div>

  <div class="field">
    <%= form.label :rating %></br>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :lat %></br>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long %></br>
    <%= form.text_field :long %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



