<p id="notice"><%= notice %></p>

<h1>Beaches</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Tide dependency</th>
      <th>Water quality</th>
      <th>Water quality date</th>
      <th>Warnings</th>
      <th>Rating</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @beaches.each do |beach| %>
      <tr>
        <td><%= beach.title %></td>
        <td><%= beach.description %></td>
        <td><%= beach.location %></td>
        <td><%= beach.tide_dependency %></td>
        <td><%= beach.water_quality %></td>
        <td><%= beach.water_quality_date %></td>
        <td><%= beach.warnings %></td>
        <td><%= beach.rating %></td>
        <td><%= beach.lat %></td>
        <td><%= beach.long %></td>
        <td><%= link_to 'Show', beach %></td>
        <td><%= link_to 'Edit', edit_beach_path(beach) %></td>
        <td><%= link_to 'Destroy', beach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>


    <% end %>
  </tbody>
</table>
<p class="card-text">weather:</br>

  <%= @output['properties']['timeseries'][0]['data']['instant']['details']['air_temperature']%>
  <%= @output['properties']['timeseries'][0]['data']['next_1_hours']['summary']['symbol_code']%>
  </br>
<p> next tide <%=@output_tides['extremes'][0]['state'] %> at
  <%=Time.parse(@output_tides['extremes'][0]['datetime']).getlocal %></br>

</p>
<br>

<%= link_to 'New Beach', new_beach_path %>
