<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @beach.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beach.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beach.location %>
</p>

<p>
  <strong>Tide dependency:</strong>
  <%= @beach.tide_dependency %>
</p>

<p>
  <strong>Water quality:</strong>
  <%= @beach.water_quality %>
</p>

<p>
  <strong>Water quality date:</strong>
  <%= @beach.water_quality_date %>
</p>

<p>
  <strong>Warnings:</strong>
  <%= @beach.warnings %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beach.rating %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @beach.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @beach.long %>
</p>


<!-- Display the reviews of a beach -->
<h2>Reviews</h2>
<% @beach.reviews.each do |review| %>
  <p>
    <b>Review details:</b>
    <%= review.details %>
  </p>
<% end %>
<%= link_to 'Back', beaches_path %>
<% if user_signed_in? %>
  <%= link_to 'New review', new_beach_review_path(@beach) %>
<% end %>

<!--<#%= link_to 'New review', new_beach_review_path(@beach) %>

<#%= link_to 'Show Reviews', beach_reviews_path(@beach) %>-->

<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_beach_path(@beach) %>

<% end %>
